<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline">
        <div class="form-group">
          <label>Variable</label>&nbsp;
          <select class="form-control" ng-model="$ctrl.colname" ng-options="col for col in $ctrl.colnames" ng-change="$ctrl.colSelect()">
            <option value="">--select--</option>
          </select>
        </div>
      </form>
      <br>

      <p><b>Number of values that were not displayed :</b> {{ $ctrl.clipped.skipped_count }}</p>
      <p><b>Number of rows that were clipped out :</b> {{ $ctrl.clipped.row_count_sum }}</p>

      <table class="table table-striped">
        <thead>
          <tr>
          <th>Value</th>
          <th>Count</th>
          <th>Average Age</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="group in $ctrl.groups">
            <td>{{ group.name }}</td>
            <td>{{ group.row_count }}</td>
            <td>{{ group.age_avg }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<br>

